<section id="home-extended" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t :"Lauren_&_Dan" %></h1>
    <p class="leader-date">
      <%= t :Test %>, <%= t :Test %>
    </p>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
      Welcome!
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li><a class="dropdown-item" href=<%= "guests/new" %>>RSVP H!</a></li>
      <li><a class="dropdown-item" href=<%="guests"%>>Guest List</a></li>
    </ul>
  </div>
</div>
</section>